@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  @apply transition-all duration-300 ease-in-out;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}